@using Sitecore.Mvc
@using System.Web.Optimization

@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/customangularapp.js"></script>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body ng-app="controllerAsExample">
    
    @Html.Sitecore().Placeholder("content")
    <div ng-controller="CallWebApi">
        <ul>
            <li ng:repeat="d in mydata">{{d.DisplayName}}</li>
        </ul>
    </div>
</body>
</html>
