@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

@*@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Website.ViewModels.DemoViewModel>*@

@{
    ViewBag.Title = "viewr";
}

<h2>viewr</h2>
@*<p>@Editable()</p>
<p>@RenderImage()</p>
<p>@RenderLink()</p>
<p>@RenderBody()</p>*@
<p></p>